{% extends 'myapp/base.html' %}
{% block title %}Courses{% endblock %}
{% block body_block %}
    {% if courlist %}
    <h2>List of Courses</h2>
    <ol>
        {% for course in  courlist %}
            <li><a href={% url 'myapp:courses' %}{{ course.id }}>{{ course.name }}</a> ${{ course.price }} </li>
        {% endfor %}
    </ol>
    {% else %}
        <strong>There are no available courses!</strong>
    {% endif %}
    <p><a href="{% url 'myapp:place_order' %}">Place Order</a></p>
{% endblock %}