{% extends 'myapp/base.html' %}
{% block title %}Order Form{% endblock %}
{% block body_block %}
    {% if courlist %}
        <h2>List of Courses</h2>
        <ol>
            {% for course in  courlist %}
                <li>{{ course.name }} ${{ course.price }} {% if course.for_everyone %} For Everyone{% else %} Not For Everyone{% endif %} </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available courses!</strong>
    {% endif %}

    <form action="{% url 'myapp:place_order' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    <p>{{ msg }}</p>
{% endblock %}